<h1>Challenges</h1>
<ul>
  <% @challenges.each do |challenge| %>
    <li data-controller="alert">
      <%= link_to challenge.name, challenge_path(challenge) %>
      <%= link_to "#", data: { action: "click->alert#show"} do %>
        <i class="fa-solid fa-x"></i>
      <% end %>
      <%= link_to "", challenge_path(challenge), data: { turbo_method: :delete, alert_target: "link" } %>
    </li>
  <% end %>
</ul>

<!--  data-controller-name-target="target name" -->